<div class="work-detail">
  <div class="container">
    <div class="back-icon" (click)="onClose.emit()">
      <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 52 52"
        enable-background="new 0 0 52 52" xml:space="preserve">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M48.6,23H15.4c-0.9,0-1.3-1.1-0.7-1.7l9.6-9.6c0.6-0.6,0.6-1.5,0-2.1l-2.2-2.2c-0.6-0.6-1.5-0.6-2.1,0 L2.5,25c-0.6,0.6-0.6,1.5,0,2.1L20,44.6c0.6,0.6,1.5,0.6,2.1,0l2.1-2.1c0.6-0.6,0.6-1.5,0-2.1l-9.6-9.6C14,30.1,14.4,29,15.3,29 h33.2c0.8,0,1.5-0.6,1.5-1.4v-3C50,23.8,49.4,23,48.6,23z">
          </path>
        </g>
      </svg>
    </div>

    <div class="details">
      <h2 class="project-detail-name">{{name}}<br /> {{subName}}</h2>
      <div class="details-info">
        <div class="client-feedback">
          <h3 class="block-name">Description</h3>
          <p class="description" [innerHTML]="description"></p>
          <div>
            <h3 class="block-name">Client Feedback</h3>
            <app-feedback-card [feedback]="feedback" [full-with]="true"></app-feedback-card>
            <div class="image-preview-container">
              <img *ngFor="let item of gridImages" [src]="item" class="image-preview" alt="project preview image" />
            </div>
          </div>
        </div>

        <div>
          <div class="features">
            <h3 class="block-name">Project Features</h3>
            <ul>
              <li *ngFor="let item of projectFeatures"><span>{{item.name}}</span> {{item.description}}</li>
            </ul>
          </div>
          <div class="info-sections">

            <div class="section">
              <div class="info-section-title">Technologie</div>
              <ul>
                <li *ngFor="let item of tools">{{item}}</li>
              </ul>
            </div>
            <!-- <div class="section">
              <div class="info-section-title">Technologie</div>
              <ul>
                <li>Angular</li>
                <li>Spring</li>
              </ul>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="container">

    <div class="website-preview">
      <img src="assets/projects/prayertimes/preview.png" class="website-preview-image" alt="website preview" />
      <img src="assets/projects/prayertimes/preview-mobile.png" class="website-preview-image image-mobile"
        alt="website preview" />
    </div>
  </div> -->
</div>
