@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.work-detail {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;

  max-width: 100%;
  .details {
    .project-detail-name {
      color: #FFF;
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 2px;
      font-weight: 400;
      margin:20px 0px;
      margin-bottom: 50px;
      @media (max-width: 970px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
    .details-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 50px;
      align-items: flex-start;
      @media (max-width: 970px) {
        display: block;
      }
    }

    .info-sections {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      .section {
        padding:10px;
        .info-section-title {
          border-top: 2px solid var(--text-color-soft);
          padding-top: 10px;
          font-weight: 500;
        }
        ul {
          list-style: none;
          color: var(--text-color-soft);
          margin-top: 15px;
          li {
            margin:5px;
          }
        }
      }
    }
  }

  .preview-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    // grid-template-rows: 1fr 1fr;
    .image-preview {
      width: 100%;
      max-width: 100%;
      border-radius: 20px;
    }
  }
}

.website-preview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin:50px 0px;
  max-width: 100%;
}
.website-preview-image {
  // width: 100%;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 1px #000000b4;
  margin:0px 20px;
  &.image-mobile {
    max-width: 350px;
  }
}

.back-icon {
  top:20px;
  left:20px;
  width: fit-content;
  padding:15px;
  background:#00000065;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 30px 1px #000 inset;
  > svg {
    fill: var(--text-color-soft);
    width:30px;
    height: 30px;
  }
}

.description, .features {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 23px;
}

.features {
  ul {
    margin-left: 20px;
  }
  li {
    margin:7px 0px;
  }
  span {
    color: var(--text-color-primary);
  }
}

.block-name {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  margin:10px 0px;
  text-decoration: underline;
}


.image-preview-container {
  display: grid;
  grid-template-columns: 1fr;
  .image-preview {
    max-width: 100%;
    margin:20px 0px;
    border-radius: 20px;
  }
}
