<div class="contributions-section">
  <div class="container">
    <h2 class="section-title">Contributions</h2>
    <div class="contribution-container">
      <div class="contribution-item" *ngFor="let item of contributions">
        <div>
          <div class="header">
            <img [src]="'assets/icons/'+item.icon" class="library-icon" alt="angular icon" />
            <div>{{item.name}}</div>
          </div>
          <div class="body">
            <h4>{{item.title}}</h4>
          </div>
        </div>
        <div class="footer"><a [href]="item.link">See on Github</a></div>
      </div>
    </div>
  </div>
</div>
