.hero-section {
  height: calc(100% - var(--header-height));
  display: flex;
  align-items: center;
  .container {

    .content {

      @media (min-width: 768px) {
        max-width: 60%;
      }

      .text-highlight {
        color: var(--text-color-primary);
        font-size: var(--font-size-md);
        margin: 20px 0px;
      }
      .name-info {
        margin:20px 0px;
        h1 {
          &:first-child {
            font-family: var(--font-family-secondary);
            text-transform: uppercase;
            font-size: var(--font-size-xl);
            color: var(--text-color);
            margin:10px 0px;
            @media (max-width: 970px) {
              font-size: 40px;
            }
          }
          &:last-child {
            margin-top: -10px;
            font-size: var(--font-size-md);
            color: var(--text-color-soft);
          }
        }
      }
      .description {
        color: var(--text-color-primary-soft);
        font-size: var(--font-size-md);
        margin:20px 0px;
        line-height: 25px;
      }
    }

  }
}
