<div class="hero-section">
  <div class="container">
    <div class="content">
      <div class="text-highlight">Hi, my name is</div>
      <div class="name-info">
        <h1>Hamza Jaziri.</h1>
        <h1>I will bring your ideas to life.</h1>
      </div>
      <p class="description">
        As a distinguished full-stack developer, I have a genuine passion for crafting remarkable web experiences. My
        expertise lies in providing tailored solutions that elevate businesses to new heights.
        <br/>
        <br/>
        Rest assured that your project is in capable hands when you choose me as your trusted partner. I bring
        meticulous attention to detail, ensuring that every aspect of your project is executed flawlessly.
        <br/>
        <br/>
        Take the first step towards transforming your digital presence. Contact me today, and let my expertise and
        passion propel your business forward.
      </p>
      <a href="https://www.upwork.com/freelancers/~010d2ab8e03ea96a35" target="_blank">
        <button class="btn-primary">LET'S CONNECT</button>
      </a>
    </div>
  </div>
</div>
