// FIRA-CODE
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
// INTER
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import url(assets/themes/default.css);

html, body {
  height:100%;
  margin:0 auto;
  background:var(--bg-color);
}

* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family: var(--font-family);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin:0px auto;
  @media (min-width: 768px) {
      width: 750px;
  }
  @media (min-width: 992px) {
      width: 970px;
  }
  @media (min-width: 1200px) {
      width: 1170px;
  }
}

button.btn-primary {
  height: 35px;
  background: transparent;
  border: 1px solid var(--text-color-primary);
  color: var(--text-color-primary);
  border-radius: 5px;
  font-weight: var(--font-weight-sm);
  font-size: calc(var(--font-size-sm) - 1px);
  cursor: pointer;
  padding:0px 10px;
}

.section-title {
  color: var(--text-color-soft);
  font-size: var(--font-size-lg);
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  width: fit-content;
  text-transform: uppercase;
  &::after {
    content: '';
    position: absolute;
    top:20px;
    right: -310px;
    width: 300px;
    height: 1px;
    background: var(--text-color-soft);
  }
  @media (max-width: 970px) {
    font-size: 22px;
    &::after{
      display: none;
    }
  }
}
