<div class="experience-section">
  <div class="container">
    <h2 class="section-title">Experience</h2>
    <div class="content">

      <div>
        <div class="experience-detail">
          <div class="role-info">
            <div class="role-name">Fullstack developer<span>@ Upwork</span></div>
          </div>
          <div class="role-detail">
            <div class="role-position">Freelance</div>
            <p class="role-description">
              Sep 2022 - Present
            </p>
          </div>
        </div>
        <div class="experience-detail">
          <div class="role-info">
            <div class="role-name">Fullstack developer <span>@ MachinesTalk</span></div>
          </div>
          <div class="role-detail">
            <div class="role-position">FullTime</div>
            <p class="role-description">
              Avril 2022 - Jul 2022
            </p>
          </div>
        </div>
        <div class="experience-detail">
          <div class="role-info">
            <div class="role-name">Fullstack developer <span>@ Direct-Clients</span></div>
          </div>
          <div class="role-detail">
            <div class="role-position">Freelance</div>
            <p class="role-description">
              Jun 2021 - April 2021
              <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt saepe laborum inventore molestiae aut ex,
              sit, quisquam itaque recusandae, libero soluta praesentium minima illum? Ullam quod velit maxime aperiam
              alias. -->
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="experience-detail">
          <div class="role-info">
            <div class="role-name">Angular developer <span>@ DataScai</span></div>
          </div>
          <div class="role-detail">
            <div class="role-position">FullTime</div>
            <p class="role-description">
              Sep 2021 - Dec 2021
              <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt saepe laborum inventore molestiae aut ex,
              sit, quisquam itaque recusandae, libero soluta praesentium minima illum? Ullam quod velit maxime aperiam
              alias. -->
            </p>
          </div>
        </div>
        <div class="experience-detail">
          <div class="role-info">
            <div class="role-name">FrontEnd developer <span>@ TaysirSolutions</span></div>
          </div>
          <div class="role-detail">
            <div class="role-position">FullTime</div>
            <p class="role-description">
              Sep 2020 - Dec 2020
              <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt saepe laborum inventore molestiae aut ex,
              sit, quisquam itaque recusandae, libero soluta praesentium minima illum? Ullam quod velit maxime aperiam
              alias. -->
            </p>
          </div>
        </div>
        <div class="experience-detail">
          <div class="role-info">
            <div class="role-name">Intership <span>@ Proxym</span></div>
          </div>
          <div class="role-detail">
            <div class="role-position">Fullstack developer</div>
            <p class="role-description">
              March 2019 - May 2019
              <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt saepe laborum inventore molestiae aut ex,
              sit, quisquam itaque recusandae, libero soluta praesentium minima illum? Ullam quod velit maxime aperiam
              alias. -->
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
