.experience-detail {
  position: relative;
  padding:5px 0px;
  .role-name {
    color: var(--text-color-soft);
    font-size: 16px;
    span {
      color: var(--text-color-primary);
      margin-left: 10px;
    }
  }
  .role-position {
    color: var(--text-color);
    font-size: var(--font-size-sm);
    margin:5px 0px;
    // text-align: right;
  }
  .role-description {
    background: var(--text-color-primary-dark);
    padding:7px;
    border-radius: 5px;
    color: var(--text-color-primary-soft);
    font-size: 14px;
    margin:7px 0px;
    max-width: 350px;
    box-shadow: 0px 0px 200px 1px #000;
    width: fit-content;
  }
  &::before {
    content: '';
    height: 100%;
    width: 2px;
    background: var(--text-color-primary);
    position: absolute;
    left:-50px;
    top:0px;
  }
  &::after {
    content: '';
    position: absolute;
    left:-50px;
    top:7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--text-color-primary);
  }
}

.content {
  margin-left: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 970px) {
    display: block;
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
}

.experience-section {
  padding-bottom: 50px;
}
